:root {
  --allTextColor: white;
  --mainBackgroundColor: black;
}

body {
  color: var(--allTextColor);
  background: var(--mainBackgroundColor);
  width: 50%;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  font-family: "Press Start 2P", system-ui;
}

.mainContainer {
  width: 30rem;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border: solid 0.2rem grey;
}

.box {
  min-width: 9.6rem;
  min-height: 10rem;
  display: inline-block;
  background: var(--mainBackgroundColor);
  border: solid 0.2rem grey;
}

.box:hover {
  background: #accef7;
  border: solid 0.2rem #accef7;
}
